
[Desktop Entry]
Name=Pomodoro do Ben
Exec=/home/s932743005/p/pomodoro-do-ben/pomodoro-do-ben
Icon=pomodoro-do-ben
Type=Application
Categories=Utility;
